# This is a Databricks asset bundle definition for brasilseg_example_01.
# See https://docs.databricks.com/dev-tools/bundles/index.html for documentation.
bundle:
  name: {{.project_name}}

variables:
  catalog:
    description: name of the catalog that will be deployed
    default: malcoln
  schema:
    description: name of the default schema that the tables will be deployed
    default: dev
  

include:
  - resources/*.yml

targets:
  # The 'dev' target, for development purposes. This target is the default.
  dev:
    variables:
     catalog: malcoln
     schema: brasilseg_dev
    # We use 'mode: development' to indicate this is a personal development copy:
    # - Deployed resources get prefixed with '[dev my_user_name]'
    # - Any job schedules and triggers are paused by default
    # - The 'development' mode is used for Delta Live Tables pipelines
    mode: development
    default: true
    workspace:
      host: https://adb-4562026214062884.4.azuredatabricks.net


  staging:
    variables:
     catalog: malcoln
     schema: brasilseg_staging
    mode: development
    workspace:
     host: https://adb-4562026214062884.4.azuredatabricks.net
  

  # The 'prod' target, used for production deployment.
  prod:
    # We use 'mode: production' to indicate this is a production deployment.
    # Doing so enables strict verification of the settings below.
    variables:
     catalog: malcoln
     schema: brasilseg
    mode: production
    workspace:
      host: https://adb-4562026214062884.4.azuredatabricks.net
      # We always use /Users/malcoln.dandaro@databricks.com for all resources to make sure we only have a single copy.
      # If this path results in an error, please make sure you have a recent version of the CLI installed.
      root_path: /Users/malcoln.dandaro@databricks.com/.bundle/${bundle.name}/${bundle.target}
    run_as:
      # This runs as malcoln.dandaro@databricks.com in production. We could also use a service principal here,
      # see https://docs.databricks.com/dev-tools/bundles/permissions.html.
      user_name: malcoln.dandaro@databricks.com
